<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ali Bile Company - Special Offer</title>
  <style>
    /* Add your custom styles here */
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #333;
    }

    p {
      color: #555;
    }

    .cta-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #3498db;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Exclusive Offer from Ali Bile Company!</h1>
    <p>Hello <%=user.name%>,</p>
    <p>We are excited to share a special offer with you. As a valued customer of Ali Bile Company, you have the opportunity to take advantage of this limited-time promotion.</p>
    <h2> <%=activationCode%></h2>
    <p>Here are the details:</p>
    <p>Thank you for choosing Ali Bile Company.</p>
    <p>Best regards,<br>Ali Bile Company Team</p>
    <div class="footer">
        <p>Contact us at <a href="mailto:ali.bile98@gmail.com">ali.bile98@gmail.com</a></p>
      </div>
  </div>
</body>
</html>
